@model IEnumerable<LB1.Models.Order>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}

<h1>Список заказов</h1>

<p>
    <a asp-action="CreateNew">Добавить новый</a>
</p>
@using (Html.BeginForm())
{
    <p>
        Поиск по имени: @Html.TextBox("SearchString")  
        <input type="submit" value="Поиск" /></p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(x => x.Client), "Index", new { sortOrder = ViewBag.NameSortParm,currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                 @Html.ActionLink(@Html.DisplayNameFor(x => x.Address), "Index", new { sortOrder = ViewBag.AddressSortParm,currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(x => x.Contact), "Index", new { sortOrder = ViewBag.ContactSortParm,currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(x => x.Phone), "Index", new { sortOrder = ViewBag.PhoneSortParm,currentFilter=ViewBag.CurrentFilter })
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Информация</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>

